# Environment Variables Example

# MongoDB Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/financeDB?retryWrites=true&w=majority

# JWT Secret Key
JWT_SECRET=your_jwt_secret_key

# Server Port (optional)
PORT=5000
